---
layout: default
title: "Nick Horton's Anti-Homepage"
---

<div class="home-intro">
  <h1>Nick Horton's Anti-Homepage</h1>
    <p>I run many blogs and podcasts that are meant to be human-consumable. This isn't one of them. You can find out more about what I do elsewhere on the <a href="/about/">About Page</a>. The notes below are just that, not blog posts. But, if you find them interesting, then we must be of like mind.</p>
</div>

<hr />
<div class="home-recent-title-area">
<h3>Recent Articles</h3>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

